<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <title>Access Denied</title>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <main class="container my-5 text-center">
        <div class="card border-warning">
            <div class="card-body">
                <h1 class="display-1 text-warning">403</h1>
                <p class="lead" th:text="${error}">You don't have permission to access this resource</p>
                <a th:href="@{/}" class="btn btn-primary">Return to Home</a>
            </div>
        </div>
    </main>

    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>